{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },"env": { "es6": true, "mocha": true },
  "plugins": ["mocha"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "always"]
  },
  "globals": { "logger": "readonly", "dedent": "readonly" },
  "extends": "loopback"
}